/* body{
    background-color: black;
} */

.App{
    max-width: 90%;
    margin: auto;
}
.parent{
    display: flex;
    justify-content: space-between;
}
.column1,.column2{
    max-width: 50%;
    width: 43%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
}
.heading{
    font-size: 25px;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    color: #336FEE;
}
@media screen and (max-width: 992px) {
    .parent{
        display: block;
    }
    .column1,.column2{
        display: block;
    }
}