extends ../layout

block content
  h1 Log In
  form(action="/login", method="post")
        .form-group
            label(for="email") Email
            input#email(type="text",class="form-control",placeholder="Enter Your Email here",name="email", required)
        .form-group
            label(for="password") Password
            input#password(type="password",class="form-control",placeholder="Enter Your Password here",name="password", required)
        input(type="submit", class="btn btn-info", value="log In")
