.backgroundBanner__parent{
    position: relative;
}
.backgroundBanner__child{
    position: absolute;
    top: 12%;
    left: 33%;
}
.backgroundBanner__child2{
    position: absolute;
    top: 12%;
    left: 42%;
}
.backgroundBanner__child3{
    position: absolute;
    top: 12%;
    left: 52%;
}