/*-------- Button --------*/

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  padding: 0 50px;

  font-family: $font-b;
  font-size: 15px;
  color: #244397;

  background-color: #fff;

  border: 1px solid $blue-med;
  border-radius: 30px;

  &__icon {
    $size: 20px;
    width: $size;
    height: $size;

    margin-right: 9px;
  }

  &__text {
    color: $blue-dark;
  }
}

.button {
  &--white {
    border-color: #ffffff;
  }
}

.button {
  &--transparent {
    background-color: transparent;
  }

  &--transparent &__text {
    color: #ffffff;
  }
}

@media (max-width: 1219px) {
  .button {
    height: 45px;
    padding: 0 30px;
  }
}

@media (max-width: 1099px) {
  .button {
    padding: 0 20px;
    font-size: 14px;
  }
}

@media (max-width: 479px) {
  .button {
    height: 40px;
    padding: 0 10px;
    font-size: 12px !important;
  }
}
