.swiper {
  flex-shrink: 0;
  position: relative;
}

.swiper-container-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.swiper {
  &--case {
    width: 603px;
  }

  &--case .swiper-pagination-wrapper {
    margin-top: 0;
    position: absolute;
    top: 110%;
    left: 165px;
  }

  &--case .swiper-button {
    position: absolute;
    top: -80px;
    background-color: #ffffff;
  }

  &--case .swiper-button--left {
    left: unset;
    right: 110%;
    transform: rotateZ(180deg);
  }

  &--case .swiper-button--right {
    right: unset;
    left: -8%;
  }

  &--case .swiper-container-wrapper {
    position: static;
  }
}

.swiper {
  &--testimonials {
    width: 100%;
    margin-top: 80px;
  }

  &--testimonials .swiper-container {
    max-width: 912px;
    margin-left: auto;
    margin-right: auto;
  }

  &--testimonials .swiper-slide {
    padding: 10px;
    position: relative;
  }

  &--testimonials .swiper-slide:not(.swiper-slide-active):before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.65);
    position: absolute;
    left: 0;
    top: 0;
  }
}

.swiper {
  &--news {
    margin-top: 96px;
  }

  &--news .swiper-slide {
    padding: 10px;
  }

  &--news .swiper-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &--news .swiper-button--left {
    right: 103%;
    transform: translateY(-50%) rotateZ(180deg);
  }

  &--news .swiper-button--right {
    left: 103%;
  }
}

.swiper-container {
  /* Fix of Webkit flickering */
  z-index: 1;
  overflow: hidden;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}
.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-container-pointer-events {
  touch-action: pan-y;
  &.swiper-container-vertical {
    touch-action: pan-x;
  }
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  z-index: 5;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-container-autoheight {
  &,
  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    align-items: flex-start;
    transition-property: transform, height;
  }
}

/* 3D Effects */
.swiper-container-3d {
  perspective: 1200px;
  .swiper-wrapper,
  .swiper-slide,
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right,
  .swiper-slide-shadow-top,
  .swiper-slide-shadow-bottom,
  .swiper-cube-shadow {
    transform-style: preserve-3d;
  }
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right,
  .swiper-slide-shadow-top,
  .swiper-slide-shadow-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }
  .swiper-slide-shadow-left {
    background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
  .swiper-slide-shadow-right {
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
  .swiper-slide-shadow-top {
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
  .swiper-slide-shadow-bottom {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0)
    );
  }
}

/* CSS Mode */
.swiper-container-css-mode {
  > .swiper-wrapper {
    overflow: auto;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  > .swiper-wrapper > .swiper-slide {
    scroll-snap-align: start start;
  }
}
.swiper-container-horizontal.swiper-container-css-mode {
  > .swiper-wrapper {
    scroll-snap-type: x mandatory;
  }
}
.swiper-container-vertical.swiper-container-css-mode {
  > .swiper-wrapper {
    scroll-snap-type: y mandatory;
  }
}

@media (max-width: 1499px) {
  .swiper--news {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
}

@media (max-width: 1399px) {
  .swiper {
    &--case .swiper-button--left {
      right: 110%;
    }

    &--case .swiper-button--right {
      left: -8%;
    }
  }
}

@media (max-width: 1099px) {
  .swiper {
    &--case {
      width: 550px;
    }

    &--testimonials {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }

    &--testimonials .swiper-container {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 989px) {
  .swiper {
    &--case {
      margin: 0 auto;
    }

    &--case .swiper-pagination-wrapper {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 767px) {
  .swiper {
    &--case {
      width: 440px;
    }
  }

  .swiper {
    &--testimonials {
      margin-top: 30px;
      width: 100%;
      max-width: 450px;
    }
  }
}

@media (max-width: 619px) {
  .swiper {
    &--case {
      width: 350px;
    }

    &--case .swiper-button {
      bottom: -44px;
      top: unset;
    }

    &--case .swiper-button--left {
      right: 87%;
    }

    &--case .swiper-button--right {
      left: 87%;
    }

    &--case .swiper-pagination-progressbar {
      width: 125px;
    }
  }

  .swiper {
    &--news {
      width: 100%;
      max-width: 310px;
    }

    &--news .swiper-button {
      position: absolute;
      top: 111%;
    }

    &--news .swiper-button--left {
      right: 90%;
    }

    &--news .swiper-button--right {
      left: 90%;
    }

    &--news .swiper-pagination-progressbar {
      width: 125px;
    }
  }

  .swiper {
    &--testimonials .swiper-button {
      position: absolute;
      top: 107%;
    }

    &--testimonials .swiper-button--left {
      right: 88%;
    }

    &--testimonials .swiper-button--right {
      left: 88%;
    }

    &--testimonials .swiper-pagination-progressbar {
      width: 125px;
    }
  }
}

@media (max-width: 479px) {
  .swiper {
    &--case {
      width: 302px;
    }
  }

  .swiper {
    &--news {
      margin-top: 30px;
    }
  }
}
